<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/Legespiel-Solver/src/main/java/org/whatsoftwarecando/legespiel/Solver.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.debug.core.source_locator_id" value="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.whatsoftwarecando.legespiel.Solver"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="Legespiel-Solver"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="UliSteinTierischVerzwickt.config.xml"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Legespiel-Solver"/>
</launchConfiguration>
